# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Common toolchain intermediate files
temp

# Coverage
.nyc_output

# Package lock
package-lock.json
dist/
.DS_Store